NodeRedFlow.json
[{"id":"b17fd556.2e6468","type":"tab","label":"Customer Help Desk","disabled":false,"info":""},{"id":"d38e8f79.cf6d","type":"ui_form","z":"b17fd556.2e6468","name":"","label":"","group":"37effca.047b004","order":17,"width":0,"height":0,"options":[{"label":"Enter input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"reset","topic":"","x":80,"y":200,"wires":[["2141a288.337fae"]]},{"id":"2141a288.337fae","type":"function","z":"b17fd556.2e6468","name":"","func":"msg.payload = msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":220,"wires":[["88c1c2b9.c6bd","79738be3.f8c6a4"]]},{"id":"6e9114ac.a09cfc","type":"function","z":"b17fd556.2e6468","name":"","func":"if(msg.payload.output.error)\n{\n    msg.payload=\"please rephrase\";\n    return msg;\n}\nmsg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":80,"wires":[["e2f4108e.8f6b8","713eca3b.0525e4","f8a7a555.ae3668","763da3c9.f00c0c","ccaafd8.00791"]]},{"id":"713eca3b.0525e4","type":"debug","z":"b17fd556.2e6468","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":200,"wires":[]},{"id":"e2f4108e.8f6b8","type":"ui_text","z":"b17fd556.2e6468","group":"37effca.047b004","order":19,"width":6,"height":"4","name":"","label":"bot response","format":"{{msg.payload}}","layout":"col-center","x":730,"y":60,"wires":[]},{"id":"88c1c2b9.c6bd","type":"ui_text","z":"b17fd556.2e6468","group":"37effca.047b004","order":18,"width":"6","height":"2","name":"","label":"you","format":"{{msg.payload}}","layout":"col-center","x":360,"y":320,"wires":[]},{"id":"79738be3.f8c6a4","type":"watson-conversation-v1","z":"b17fd556.2e6468","name":"","workspaceid":"66568b8e-db65-42da-8d6e-27232d815f59","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":380,"y":120,"wires":[["6e9114ac.a09cfc"]]},{"id":"f8a7a555.ae3668","type":"ui_audio","z":"b17fd556.2e6468","name":"","group":"37effca.047b004","voice":"en-US","always":"","x":680,"y":160,"wires":[]},{"id":"ccaafd8.00791","type":"watson-translator","z":"b17fd556.2e6468","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"es","password":"","apikey":"","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"es","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/79b7fcde-6287-464c-9842-1e9a751d423e","x":510,"y":280,"wires":[["770f5d98.5d4e64","7de5d2c6.88a35c"]]},{"id":"770f5d98.5d4e64","type":"play audio","z":"b17fd556.2e6468","name":"","voice":"0","x":640,"y":360,"wires":[]},{"id":"7de5d2c6.88a35c","type":"debug","z":"b17fd556.2e6468","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"translation","targetType":"msg","x":750,"y":280,"wires":[]},{"id":"763da3c9.f00c0c","type":"ui_template","z":"b17fd556.2e6468","group":"37effca.047b004","name":"","order":20,"width":6,"height":"1","format":"","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":740,"y":120,"wires":[[]]},{"id":"37effca.047b004","type":"ui_group","z":"","name":"DellBot","tab":"5daf2143.48c4","order":1,"disp":true,"width":"6","collapse":false},{"id":"5daf2143.48c4","type":"ui_tab","z":"","name":"Customer Help Desk","icon":"dashboard","disabled":false,"hidden":false}]